<nav id="mainnav">
  <div id="menu-toggle"><i class="icon icon-menu"></i></div>
  <a href="/" class="brand" title="{{ site.title }}">
    <img src="{% asset shared/dart/logo+text/horizontal/default.svg @path %}" alt="{{ site.title }}">
  </a>
  <ul>
    <li class="mainnav__get-started"><a href="/guides/get-started"><span>Get Started</span></a></li>
    <li><a href="/guides/language">Language</a></li>
    <li><a href="/guides/libraries">Libraries</a></li>
    <li><a href="/tools">Tools</a></li>
    {% comment %}Temporarily make room for the version dropdown by omitting Community{% endcomment %}
    {% if site.url != site.www %}
    <li><a href="/community">Community</a></li>
    {% else %}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dart 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% include _version-menu-items.html %}
        <li role="separator" class="divider"></li>
        <li><a href="/dart-2#migration">Migration guide</a></li>
      </ul>
    </li>
    {% endif %}
    <li class="searchfield">
      <form class="navbar-search" action="/search" id="cse-search-box">
        <input type="hidden" name="cx" value="011220921317074318178:_yy-tmb5t_i">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="hidden" name="hl" value="en">
        <input type="search" name="q" id="q" autocomplete="off" placeholder="Search">
        <button type="submit"><i class="icon icon-search"></i></button>
      </form>
    </li>
  </ul>
</nav>
